/* Убираем стандартные стили css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    font-size: 20px;
    text-decoration: none;
    color: white;
    font-family: Arial, sans-serif;
    list-style-type: none;
}


body {
    background: #000000;
}

.wrapper {
    display: flex;
    height: 100%;

}

/* Стили для шапки */
header {
    position: relative;
    display: flex;
    background: #1c1c1c;
    padding: 20px 70px;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 2;
}


.reg_btn {
    color: white;
    font-weight: bold;
    background: #00b9ff;
    padding: 10px 20px;
    border-radius: 10px;
    margin-right: 10px;
    transition: 0.3s ease;
    outline: none;
    cursor: pointer;

}

.reg_btn:hover {
    transform: scale(1.1);
    background: #19aee6;
}

/*Боковая панель*/
aside {
    width: 150px;
    position: fixed;
    left: 0;
    height: 100%;
    background-color: cadetblue;
    padding-top: 30px;
    z-index: 1;
}

/* Стили для контента */
.container_content {
    margin: 20px 150px ;
    width: 100%;

}


/* Стили для формы поста */
.post-box {
    background: #1c1c1c;
    border-radius: 25px;
    margin: 20px 0px;
    padding: 25px 25px;
    border: 2px solid #0f617c;
}

.post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content-area {
    width: 100%;
    height: 150px;
    resize: none;
    border-radius: 25px;
    padding: 15px;
    font-size: 20px;


}

.content-area::placeholder {
    color: #646464;
    font-size: 20px;
}


.post-form .reg_btn {
    align-self: flex-end;
    margin-top: 25px;
    padding: 20px 20px;
    font-size: 16px;
}

/* Стили для постов */
.post  {
    background: #1c1c1c;
    border-radius: 25px;
    margin: 20px 0px;
    padding: 25px 25px;
    border: 2px solid #0f617c;
}

.author {
    display: flex;
    margin-bottom: 10px;
    font-size: 50px;
    align-items: end;
}


.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}
.post-author a {
    font-size: 25px;
    font-weight: 600;
}

.post-author  {
    color: #484848;
    font-size: 25px;
    margin-left: 10px;
}

.post .content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.post .content p {
    font-size: 30px;
    margin: 10px 0px;
}

.post .actions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.like-button {
    background: inherit;
}


/*настройка отображения профиля пользователя*/


.profile{

    background: #1c1c1c;
    border-radius: 25px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.profile .h1 {
    text-align: center;

}

.container-profile {
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.container-profile .avatar {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin: 20px 40px 0px 0px;
}

.container-profile .info {
    align-self: end;
}

.main-content h2 {
    margin: 25px 0px;
}

.conteiner-profile .reg_btn {
    padding: 20px 20px;
    font-size: 16px;
}

/*Адаптивность хоть какая-то)*/
@media (max-width: 768px) {
    .container_content {
        margin: 20px 10%;
    }
    .profile .h1 {
        font-size: 24px;
    }
}


.login-inp {
    margin-top: 100px;
}


.form-control {
    height: 100px;
    color: #00b9ff;
    border-radius: 25px;
}