# Игнорируем среду виртуального окружения
venv/
.env
*.env

# Игнорируем файлы базы данных (если SQLite)
db.sqlite3
__pycache__/
*.pyc
*.pyo

# Игнорируем файлы миграций (опционально)
*/migrations/__pycache__/
*/migrations/*.pyc


# Игнорируем логи и временные файлы
*.log
*.swp
*.swo

